DATABASE_URL=postgresql://myuser:mypassword@localhost:5432/database_name
SECRET_KEY=

ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173


PAGINATION_PAGE_SIZE=20
PAGINATION_MAX_PAGE_SIZE=100
PAGINATION_QUERY_PARAM=page_size


EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=your-email@email.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=your-email@email.com


S3_ENDPOINT_URL=http://localhost:9000
S3_BUCKET_NAME=my-bucket
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
SITE_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173

ARDUINO_PORT=
FINGERPRINT_READER_START_THREAD=True

JWT_ACCESS_TOKEN_MINUTES=60
JWT_REFRESH_TOKEN_DAYS=7

SUPERADMIN_EMAIL=admin@example.com
SUPERADMIN_PASSWORD=your-secure-password
SUPERADMIN_FIRST_NAME=Super (optional)
SUPERADMIN_LAST_NAME=Admin (optional)
